<a 
    href="/"
    class="flex-row justify-center text-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none
    focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55
    mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100">
    <!-- Puedes tener varios slot y nombrarlos para utilizarlos de diferentes maneras -->
    <!-- Por ejemplo aqui se utilan para poner el icono antes o despues del texto -->
    <slot name="before-text"/>
    <!-- A los slot se le pueden poner elementos por defecto para el caso de q no reciba nada -->
    <slot>
        Contenido por defecto
    </slot>
    <slot name="after-text"/>
</a>