---
// Seccion para JS
import Header from '../components/Header.astro';
interface Props { // Typescript prop (Forma de validar)
	title: string;
}

const { title } = Astro.props; // Forma de acceder a las props
---
<!-- Los componentes Layout estan pensado para envolver otros componetes -->
<!-- Seccion para la estructura -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 min-h-screen pb-32">
		<Header /> <!-- Se pone el header en el Layout para q salga en todas las pages -->
		<main class="max-w-5xl px-4 m-auto">
			<slot /> <!-- Es como children en React ahi es donde se pone todo lo q esta enuelto --> 
		</main>
	</body>
</html>

<!-- Seccion para los estilos (estos estilos tiene scope y solo funcionan en ese archivo a no ser q se utilicen directivas)
  	Utiza la directiva is:global para hacer estos estilos globales -->

<style is:global> 
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>
